/* Main container */
.graph-container {
  position: relative;
  /*margin: var(--main-margin);*/
  height: calc(100vh - var(--navbar-height));
  border-radius: 8px;
}

/* Header layout */
.graph-header {
  position: absolute;
  top: 5%;
  left: 2%;
  margin-bottom: 12px;
  z-index: 2;
}

/*.graph-header select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  color: black;
  font-size: 1rem;
}*/

/* Graph container box */
.graph-view {
  z-index: 1;
  border-radius: 8px;
  position: relative;
}

.collection-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: white;
  font-size: 14px;
  resize: vertical;
}

.collection-select::placeholder {
  color: #999;
}

.collection-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-secondary);
}