.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 1.25rem;
    font-family: sans-serif;
    height: var(--navbar-height);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    font-family: "Bitcount Prop Single", system-ui;
    font-weight: bold;
    font-size: 2.25rem;
    color: #000;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: black;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.nav-item {
    text-decoration: none;
    color: #444;
    margin-left: 20px;
}

.nav-item.active {
    font-weight: bold;
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}

/* Placeholder icons */
.home-icon {
    mask-image: url('/icons/home.svg');
    -webkit-mask-image: url('/icons/home.svg');
}

.graph-icon {
    mask-image: url('/icons/graph.svg');
    -webkit-mask-image: url('/icons/graph.svg');
}

.nodes-icon {
    mask-image: url('/icons/nodes.svg');
    -webkit-mask-image: url('/icons/nodes.svg');
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.create-db-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 5px solid #fff;
    background-color: var(--color-secondary);
    /* darker grey */
    color: #fff;
    cursor: pointer;
}

.avatar {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border: 3px solid var(--color-secondary);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    cursor: pointer;
}