.sidebar {
    width: 300px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    padding: .5rem;
    border-radius: 12px;
    gap: 8px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: 100%;
    color: #fff;
}

.search-bar input::placeholder {
    color: #fff;
}

.database-list {
    display: flex;
    flex-direction: column;
    margin-top: var(--main-margin);
    gap: 12px;
}

.database-list .menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.database-list .menu-icons>* {
    cursor: pointer;
    transition: color 0.2s ease;
}

.database-list .menu-icons__delete {
    display: inline-grid;
    place-items: center;
    margin-left: 1rem;
    background-color: var(--color-danger);
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.database-list .menu-icons__delete> :first-child {
    color: #fff;
}

.sidebar-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: var(--color-secondary);
    transition: background-color 0.2s ease;
}

.sidebar-action:hover {
    background-color: var(--color-secondary-hover);
}