fastapi
uvicorn[standard]
pydantic
chromadb
sentence-transformers
langchain-core
langchain-community
langchain-ollama
langchain-openai
sqlalchemy
aiosqlite
locust
python-dotenv
websockets
langchain-groq
